<!DOCTYPE html>
<html lang="en">
<head>
  <title>Member Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" 

href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script> 
  
  <script 

src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <meta charset = "utf-8">
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script src="/elokchits/js/memberviewcontroller.js"></script>
    <link rel="stylesheet" href="/elokchits/css/styles.css">

</head>
<body>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-

target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home1.html">elok</a>

</div>
<div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="home1.html">Home</a></li>
          <li><a href="membershome.html">Members</a></li>
          <li><a href="lothome.html">Lot Details</a></li>
          <li><a href="partner.html">Partners</a></li>
          <li><a href="auctionhome.html">Auction Home</a></li>
          <li><a href="billgeneration.html">Bill Generation</a></li>
          <li><a href="reports.html">Reports</a></li>
          <li><a href="#" type="submit" class="s" data-toggle="modal" data-target="#myModal">Sign Up</a></li>
           <li><a type="submit" class="signin " data-toggle="modal" data-target="#signin">Sign IN</a>
           </li>
        </ul>
      </div>
</div>
</nav>
<div class="container-fluid" style="background-color:#e6f0ff;height:100px;">
  
 <div class="btn-group">
 
     <br> <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Recently Viewed <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">New lot</a></li>
        <li><a href="#">New Members</a></li>
      </ul>
    </div>
   <div ng-app="member" ng-controller="memberCtrl" ng-init="memberview()">
<table id="my-ajax-table" class="table table-bordered" >
  <thead bgcolor="#ffe6e6">
    <th type="button" data-dynatable-column="name" class="dynatable-head">Name</th>
    <th type="button" data-dynatable-column="phone" class="dynatable-head">Address</th>
   </thead>
  <tbody>  
   <tr><td style="text-align: left;" ng-model="firstname">{{firstName}}</td><td style="text-align: left;">{{m.address}}</td><td style="text-align: left;">{{m.referName}}</td><td style="text-align: left;">{{m.phone}}</td> <td><p data-placement="top" data-toggle="tooltip"  title="Edit"><button class="btn btn-primary btn-xs" ng-click="editMember(m.memId)" data-target="#myModal" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
    
    </tr>
  
  </table>
</div>
 
 </body>
 </html>